@page "/AuthenticationTest"
@using MadWorld.Shared.Blazor.Authentications
@using System.Security.Claims

<AuthorizeView Roles="@Roles.IdentityAdministrator">
    <Authorized>
        <p>You got the role: <b>@Roles.IdentityAdministrator</b></p>
        <p>Email: @UserInfo.Email</p>
        <p>Is Email Confirmed: @UserInfo.IsEmailConfirmed</p>
        <RadzenButton Shade="Shade.Lighter" Click=@GetUserInfo Text="Get Current User Info" ButtonStyle="ButtonStyle.Primary"/>
        <br />
    </Authorized>
    <NotAuthorized>
        <p>You don't have the role: <b>@Roles.IdentityAdministrator</b></p>
    </NotAuthorized>
</AuthorizeView>
<AuthorizeView Roles="@Roles.IdentityShipSimulator">
    <Authorized>
        <p>You got the role: <b>@Roles.IdentityShipSimulator</b></p>
    </Authorized>
    <NotAuthorized>
        <p>You don't have the role: <b>@Roles.IdentityShipSimulator</b></p>
    </NotAuthorized>
</AuthorizeView>
<AuthorizeView>
    <Authorized>
        <p>You are logged in</p>
        <br />
        <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" AllowSorting="true" PagerHorizontalAlign="HorizontalAlign.Left"
                        Data="@context.User.Claims" TItem="Claim" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or">
            <Columns>
                <RadzenDataGridColumn TItem="Claim" Property="Type" Filterable="false" Title="Type" Frozen="true" TextAlign="TextAlign.Center"/>
                <RadzenDataGridColumn TItem="Claim" Property="Value" Filterable="false" Title="Value" Frozen="true" TextAlign="TextAlign.Center"/>
            </Columns>
        </RadzenDataGrid>
    </Authorized>
    <NotAuthorized>
        <p>Not logged in</p>
    </NotAuthorized>
</AuthorizeView>